<div class="sidebar-container">
  <div class="sidebar-header">
    <mat-icon class="logo-icon">dashboard_customize</mat-icon>
    <span class="brand-name">CBX CRA</span>
  </div>

  <mat-divider></mat-divider>

  <mat-nav-list>
    <div class="nav-section-label">Administration</div>

    <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active-link">
      <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
      <div matListItemTitle>Dashboard</div>
    </a>

    <a mat-list-item routerLink="/admin/users" routerLinkActive="active-link">
      <mat-icon matListItemIcon>people</mat-icon>
      <div matListItemTitle>Collaborateurs</div>
    </a>

    <a mat-list-item routerLink="/admin/missions" routerLinkActive="active-link">
      <mat-icon matListItemIcon>work</mat-icon>
      <div matListItemTitle>Missions</div>
    </a>

    <a mat-list-item routerLink="/admin/validations" routerLinkActive="active-link">
      <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
      <div matListItemTitle>Validations</div>
    </a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <div class="sidebar-footer">
    <button mat-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Déconnexion
    </button>
  </div>
</div>
